<app-search (searchFilter)="searchByField($event)" [filter]="filter" [field]="field"></app-search>
<div class="row">
    <div class="col-md-3 col-lg-2">
        <app-left-menu (selectedCategory)="filterCategory($event)"></app-left-menu>
    </div>
    <div class="col">
        <p><strong>{{ category }}</strong></p>
        <div class="form-row mb-3">
            <div class="form-group col-6 col-md-6 col-lg-9">
                <input type="text" readonly class="form-control-plaintext" value="Có {{ products.length }} sản phẩm">
            </div>
            <div class="form-group col">
                <select class="custom-select" [(ngModel)]="sortable" (change)="orderBy()">
                    <option value="">Sắp xếp</option>
                    <option value="makeAsc">Hãng: A - Z</option>
                    <option value="makeDsc">Hãng: Z - A</option>
                    <option value="modelAsc">Kiểu: A - Z</option>
                    <option value="modelDsc">Kiểu: Z - A</option>
                    <option value="priceAsc">Giá: Tăng dần</option>
                    <option value="priceDsc">Giá: Giảm dần</option>
                </select>
            </div>
        </div>
        <app-products [products]="products" [featured]="featured" [searching]="searching" (stock)="refreshStock($event)"></app-products>
        <ng-container *ngIf="products.length > 0">
            <nav *ngIf="paginating" class="d-flex justify-content-end" aria-label="Page navigation">
                <button type="button" class="btn btn-light mr-2" (click)="changePage(pageNumber, 'previous')" [disabled]="pageNumber === 1">Sau</button>
                <button type=" button " class="btn btn-light " (click)="changePage(pageNumber, 'next')" [disabled]="pageNumber === pages">Tiếp</button>
            </nav>
        </ng-container>

    </div>
</div>